.container{width: 618px; height: 580px; background: #f6f6f6; padding: 15px 19px; position: relative; box-sizing: border-box;}
.row-fluid{border: 1px solid #e6e6e6; background: #fff; padding: 15px; margin-top: 17px; border-radius: 7px; box-sizing: border-box;}

.row-welcome .form-inline{margin-bottom: 0;}
.logo{border-right: 1px solid #333;}
.logo img{ height: 100px; width:100px;}

.form-inline input[type="text"]{margin-left: .5em;font-size:.916em; height:18px; line-height:18px; padding: 2px 6px;}
.form-inline select{margin-left: 1em; font-size:.916em; height:24px; line-height:24px; padding: 2px 6px;}
.settings-ad-type-text{padding-bottom: 7px;}
.form-divider{border-top: 1px solid #ddd;padding:15px 0 5px;margin-top:10px;}

.ad-size-group {display: inline-block; margin: 10px; vertical-align:top;}

.ad-size{width:30px; height:30px; background: #aaa; border-radius:5px; margin:0 1px 1px 1px; display: inline-block; box-sizing:border-box}
.ad-size-horizontal .ad-size,
.ad-size-vertical .ad-size{display: block; margin-bottom: 6px;}

.ad-size:hover{border:2px solid #08C}

